In [2]:
import pandas as pd
import numpy as np

In [3]:
#해외 진출 선수 데이터 
total_player_list = pd.read_csv('../kwon/해외진출선수.csv', low_memory=False)
total_player_list.head()

,Unnamed: 0,구분,이름,출생,포지션,국내입단연도,첫구단활동종료,첫구단활동기간,첫소속구단,해외진출연도,해외 첫 소속팀,국내복귀,복귀 소속팀
0,4,메이저리그,김광현,1988,좌완선발,2007.0,2019.0,13.0,SK와이번스,2020,세인트루이스 카디널스,2022,SSG 랜더스
1,8,메이저리그,김현수,1988,좌익수/1루수,2006.0,2015.0,10.0,두산베어스,2016,볼티모어 오리올스,2018,LG 트윈스
2,9,메이저리그,류현진,1987,좌완선발,2006.0,2012.0,7.0,한화이글스,2013,LA다저스,2024,한화이글스
3,10,메이저리그,박병호,1986,1루수,2005.0,2011.0,7.0,LG트윈스,2016,미네소타 트윈스,2018,넥센히어로즈
4,12,메이저리그,양현종,1988,좌완투수,2007.0,2020.0,14.0,KIA타이거즈,2021,텍사스 레이져스,2022,KIA 타이거즈

In [4]:
#골든 글러브 수상자 데이터
golden_glove = pd.read_csv('Golden Glove list.csv', low_memory=False)
golden_glove.head()

,연도,투수,포수,1루수,2루수,3루수,유격수,외야수,지명타자
0,2023,페디 NC,양의지 두산,오스틴 LG,김혜성 키움,노시환 한화,오지환 LG,구자욱 삼성 박건우 NC 홍창기 LG,손아섭 NC
1,2022,안우진 키움,양의지 두산,박병호 KT,김혜성 키움,최정 SSG,오지환 LG,나성범 KIA 이정후 키움 피렐라 삼성,이대호 롯데
2,2021,미란다 두산,강민호 삼성,강백호 KT,정은원 한화,최정 SSG,김혜성 키움,구자욱 삼성 이정후 키움 홍창기 LG,양의지 NC
3,2020,알칸타라 두산,양의지 NC,강백호 KT,박민우 NC,황재균 KT,김하성 키움,김현수 LG 로하스 KT 이정후 키움,최형우 KIA
4,2019,린드블럼 두산,양의지 NC,박병호 키움,박민우 NC,최정 SK,김하성 키움,로하스 KT 샌즈 키움 이정후 키움,페르난데스 두산

In [5]:
#각 선수의 골든 글러브 수상 횟수 count
cnt_golden_glove = pd.Series()

for column in golden_glove.columns[1:]:
    # 공백 앞의 첫 번째 단어 추출
    words = golden_glove[column].str.split(' ').str[0]
    # 단어를 count
    cnt_series = words.value_counts()
    
    # 기존 Series에 단어 count 추가
    cnt_golden_glove = cnt_golden_glove.add(cnt_series, fill_value=0)

# Series를 데이터프레임으로 변환
cnt_golden_glove = cnt_golden_glove.reset_index()
cnt_golden_glove.columns = ['Player', 'Count']

print(cnt_golden_glove)

    Player Count
0        -   2.0
1     가르시아   1.0
2      강기웅   3.0
3      강민호   6.0
4      강백호   2.0
..     ...   ...
146    홍성흔   6.0
147    홍세완   1.0
148    홍현우   3.0
149    황재균   1.0
150    황태환   1.0

[151 rows x 2 columns]

In [6]:
# '이름' 열과 'Player' 열을 기준으로 'Count' 값을 매핑하여 'cnt_golden' 열을 추가
total_player_list['cnt_golden'] = total_player_list['이름'].map(cnt_golden_glove.set_index('Player')['Count'])

# 새로운 데이터프레임 생성
total_player_list_golden = total_player_list

# 결과 출력
print(total_player_list_golden)

    Unnamed: 0      구분   이름    출생       포지션  국내입단연도  첫구단활동종료  첫구단활동기간  \
0            4   메이저리그  김광현  1988      좌완선발  2007.0   2019.0     13.0
1            8   메이저리그  김현수  1988   좌익수/1루수  2006.0   2015.0     10.0
2            9   메이저리그  류현진  1987      좌완선발  2006.0   2012.0      7.0
3           10   메이저리그  박병호  1986       1루수  2005.0   2011.0      7.0
4           12   메이저리그  양현종  1988      좌완투수  2007.0   2020.0     14.0
5           13   메이저리그  오승환  1982  우완투수/마무리  2005.0   2013.0      9.0
6           18   메이저리그  추신수  1982       외야수     NaN      NaN      NaN
7           20   메이저리그  황재균  1987       3루수  2006.0   2010.0      5.0
8           21   메이저리그  구대성  1969      좌완투수  1993.0   2000.0      8.0
9           22   메이저리그  김병현  1979      우완투수     NaN      NaN      NaN
10          23   메이저리그  김선우  1977      우완투수     NaN      NaN      NaN
11          25   메이저리그  류제국  1983      우완투수     NaN      NaN      NaN
12          26   메이저리그  박찬호  1973        투수     NaN      NaN      NaN
13          27   메이저리그  봉중근  1980      좌완투수     NaN      NaN      NaN
14          28   메이저리그  서재응  1977      우완투수     NaN      NaN      NaN
15          29   메이저리그  송승준  1980      우완투수     NaN      NaN      NaN
16          30   메이저리그  윤석민  1986      우완투수  2005.0   2013.0      9.0
17          31   메이저리그  이대은  1989      우완투수     NaN      NaN      NaN
18          32   메이저리그  이대호  1982  1루수/지명타자  2001.0   2011.0     11.0
19          33   메이저리그  이상훈  1971      좌완투수  1993.0   1997.0      5.0
20          34   메이저리그  임창용  1976    사이드암투수  1995.0   1998.0      4.0
21          35   메이저리그  최희섭  1979       1루수     NaN      NaN      NaN
22          36  NPB 리그  김태균  1982       1루수  2001.0   2009.0      9.0
23          37  NPB 리그  이범호  1981       내야수  2000.0   2009.0     10.0
24          38  NPB 리그  이병규  1974       외야수  1997.0   2006.0     10.0
25          39  NPB 리그  이승엽  1976       1루수  1995.0   2003.0      9.0

      첫소속구단  해외진출연도       해외 첫 소속팀  국내복귀    복귀 소속팀 cnt_golden
0    SK와이번스    2020    세인트루이스 카디널스  2022   SSG 랜더스        1.0
1     두산베어스    2016      볼티모어 오리올스  2018    LG 트윈스        3.0
2     한화이글스    2013          LA다저스  2024     한화이글스        2.0
3     LG트윈스    2016       미네소타 트윈스  2018    넥센히어로즈        6.0
4   KIA타이거즈    2021       텍사스 레이져스  2022  KIA 타이거즈        1.0
5    삼성라이온즈    2016    세인트루이스 카디널스  2019    삼성라이온즈        NaN
6       NaN    2005       시애틀 매리너스  2021   SSG 랜더스        NaN
7    현대유니콘스    2017    샌프란시스코 자이언츠  2018     KT 위즈        1.0
8     한화이글스    2005           뉴욕메츠  2006     한화이글스        1.0
9       NaN    1999  애리조나 다이아몬드 백스  2012    넥센히어로즈        NaN
10      NaN    2001       보스턴 레드삭스  2008     두산베어즈        NaN
11      NaN    2006         시카고 컵스  2013    LG 트윈스        NaN
12      NaN    1994         LA 다저스  2012    한화 이글스        NaN
13      NaN    2002     애틀란타 브레이브스  2007    LG 트윈스        NaN
14      NaN    2002           뉴욕메츠  2008  KIA 타이거즈        NaN
15      NaN    1999  보스턴 레드삭스(마이너)  2007   롯데 자이언츠        NaN
16  KIA타이거즈    2014      볼티모어 오리올스  2015   KIA타이거즈        1.0
17      NaN    2008         시카고 컵스  2019      KT위즈        NaN
18   롯데자이언츠    2016       시애틀 매리너스  2017   롯데 자이언츠        7.0
19    LG트윈스    2000       보스턴 레드삭스  2002     LG트윈스        1.0
20   해태타이거즈    2013         시카고 컵스  2014    삼성라이온즈        NaN
21      NaN    2002         시카고 컵스  2007   KIA타이거즈        1.0
22    한화이글스    2010      지바 롯데 마린즈  2012     한화이글스        3.0
23    한화이글스    2010      소프트뱅크 호크스  2011   KIA타이거즈        2.0
24    LG트위스    2007       주니치 드래곤즈  2010     LG트윈스        2.0
25   삼성라이온즈    2004      지바 롯데 마린스  2012    삼성라이온즈       10.0

In [8]:
#골든글러브 횟수가 보이지 않아 확인
print(total_player_list_golden.iloc[:, 8:])

      첫소속구단  해외진출연도       해외 첫 소속팀  국내복귀    복귀 소속팀 cnt_golden
0    SK와이번스    2020    세인트루이스 카디널스  2022   SSG 랜더스        1.0
1     두산베어스    2016      볼티모어 오리올스  2018    LG 트윈스        3.0
2     한화이글스    2013          LA다저스  2024     한화이글스        2.0
3     LG트윈스    2016       미네소타 트윈스  2018    넥센히어로즈        6.0
4   KIA타이거즈    2021       텍사스 레이져스  2022  KIA 타이거즈        1.0
5    삼성라이온즈    2016    세인트루이스 카디널스  2019    삼성라이온즈        NaN
6       NaN    2005       시애틀 매리너스  2021   SSG 랜더스        NaN
7    현대유니콘스    2017    샌프란시스코 자이언츠  2018     KT 위즈        1.0
8     한화이글스    2005           뉴욕메츠  2006     한화이글스        1.0
9       NaN    1999  애리조나 다이아몬드 백스  2012    넥센히어로즈        NaN
10      NaN    2001       보스턴 레드삭스  2008     두산베어즈        NaN
11      NaN    2006         시카고 컵스  2013    LG 트윈스        NaN
12      NaN    1994         LA 다저스  2012    한화 이글스        NaN
13      NaN    2002     애틀란타 브레이브스  2007    LG 트윈스        NaN
14      NaN    2002           뉴욕메츠  2008  KIA 타이거즈        NaN
15      NaN    1999  보스턴 레드삭스(마이너)  2007   롯데 자이언츠        NaN
16  KIA타이거즈    2014      볼티모어 오리올스  2015   KIA타이거즈        1.0
17      NaN    2008         시카고 컵스  2019      KT위즈        NaN
18   롯데자이언츠    2016       시애틀 매리너스  2017   롯데 자이언츠        7.0
19    LG트윈스    2000       보스턴 레드삭스  2002     LG트윈스        1.0
20   해태타이거즈    2013         시카고 컵스  2014    삼성라이온즈        NaN
21      NaN    2002         시카고 컵스  2007   KIA타이거즈        1.0
22    한화이글스    2010      지바 롯데 마린즈  2012     한화이글스        3.0
23    한화이글스    2010      소프트뱅크 호크스  2011   KIA타이거즈        2.0
24    LG트위스    2007       주니치 드래곤즈  2010     LG트윈스        2.0
25   삼성라이온즈    2004      지바 롯데 마린스  2012    삼성라이온즈       10.0

In [ ]:
# MVP 수상 데이터

In [12]:
# CSV 파일로 저장
# total_player_list_golden.to_csv('total_player_list_golden.csv', index=False, encoding='utf-8-sig')